@import "../vars.css";

:root {
    --slide-anim-distance: 32px;

    --main-width: 400px;

    --selected-token-width: 3rem;
}

.stickyHeader {
    width: var(--main-width);
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: var(--col-bg);

    /* animation */
    translate: 0 var(--slide-anim-distance);
    transition-property: opacity, translate;
    opacity: 0;
}
.engineerNumberContainer {
    position: relative;
}
.engineerNumber {
    position: absolute;
}
.engineerSelectHeader {
    width: 100%;
    margin: auto;
    padding: 16px 0 32px 0;
    text-align: left;
    & > * {
        margin: 0;
    }
    & > p {
        font-style: italic;
    }
}
.engineerNavigationButtons {
    position: fixed;
    top: 64px;
    left: calc((50% + var(--main-width) / 2) + 64px);
    width: var(--main-width);
    overflow-x: visible;
}
.engineerSelectList {
    width: 100%;

    /* animation */
    translate: 0 var(--slide-anim-distance);
    transition-property: opacity, translate;
    opacity: 0;
}

.backToReview {
    position: fixed;
    bottom: 64px;
    left: calc((50% + var(--main-width) / 2) + 64px);
}

@media screen and (max-width: 700px) {
    .stickyHeader {
        width: 100%;
    }

    .backToReview {
        position: relative;
        width: 100%;
        left: 0;
        bottom: 0;
    }
    .backToReviewBackdrop {
        background-color: var(--col-bg);
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 16px;
        height: max-content;
    }
    .engineerNavigationButtons {
        position: static;
        display: block;
        overflow-x: auto;
        width: 100%;
        padding-bottom: 16px;
    }
}
