@import "../vars.css";

:root {
    --slide-anim-distance: 32px;

    --main-width: 400px;
}

#sticky-header {
    width: 102%;
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: var(--col-bg);
}
header#engineer-select-header {
    width: 102%; /* ensure this covers the options */
    margin: auto;
    padding: 16px 0 32px 0;

    opacity: 0;
    translate: 0 var(--slide-anim-distance);
    transition-property: opacity, translate;
    & > p {
        text-align: left;
        margin: 0;
    }
    & > h1 {
        margin-top: 0;
        margin: 0;
    }
}
.engineer-navigation-buttons {
    display: flex;
    justify-content: center;
    width: var(--main-width);
    padding-bottom: 16px;
    opacity: 0;
    translate: 0 var(--slide-anim-distance);
    transition-property: opacity, translate;
    overflow-x: visible;
}
ul#engineer-select-list {
    width: var(--main-width);

    opacity: 0;
    translate: 0 var(--slide-anim-distance);
    transition-property: opacity, translate;
    & > li:not(:last-child) {
        margin-bottom: 16px;
    }
    button {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        gap: 24px;
        padding: 1em;
        img,
        .img-placeholder {
            width: 3rem;
            border-radius: 100%;
            aspect-ratio: 1;
            object-fit: cover;
        }
        &.currently-selected {
            border: 2px solid var(--cool-color);
        }
    }
}

.selected-mystery-index-token {
    width: 3rem;
    aspect-ratio: 1;
    margin-left: auto;
    border-radius: 8px;
    background-color: var(--col-text);
    color: var(--col-bg);
    display: flex;
    place-items: center;
    justify-content: center;
    font-size: 16pt;
    flex-shrink: 0;
}

button#back-to-review {
    position: fixed;
    bottom: 64px;
    left: calc((50% + var(--main-width) / 2) + 64px);
}

@media screen and (max-width: 700px) {
    #sticky-header {
        width: 100%;
    }
    ul#engineer-select-list {
        width: 100%;
    }

    button#back-to-review {
        position: relative;
        width: 100%;
        left: 0;
        bottom: 0;
    }
    #back-to-review-backdrop {
        background-color: var(--col-bg);
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 16px;
        height: max-content;
    }
    .engineer-navigation-buttons {
        display: block;
        overflow-x: auto;
        width: 100%;
    }
}
