@import "../vars.css";

.main {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    margin: 0;
    margin-top: 64px;
    margin-bottom: 64px;
}
.resultsBars {
    width: 90vw;
    display: grid;
    flex-grow: 1;
}
.userNamesList {
    width: 90vw;
    display: grid;
    height: 180px;
}

.userNameSlot {
    position: relative;
}
.userName {
    left: 50%;
    rotate: 35deg;
    transform-origin: left;
    position: absolute;
    font-size: 11pt;
    white-space: nowrap;
    transition: color 0.3s ease;
}

.resultBarContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.resultBar {
    position: relative;
    width: 40%;
    background: var(--cool-color);
    min-height: 2px;
    transition: background-color 0.4s ease;
}
.resultBarNumber {
    margin: 0;
    font-size: 22pt;
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% -100%;
    transition: opacity 0.3s ease;
}
.resultBarAnim {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    transition: height 1.5s cubic-bezier(0.1, 0.8, 0.6, 1);
}
.resultBarWinner {
    background: var(--col-good);
}
