@import "../vars.css";

header.reviewHeader {
    opacity: 0;
    translate: 0 var(--slide-anim-distance);
    transition-property: opacity, translate;
}

.yourName {
    opacity: 0;
    translate: 0 var(--slide-anim-distance);
    transition-property: opacity, translate;
    & > .label {
        text-transform: uppercase;
        font-size: 0.7rem;
        opacity: 0.6;
        letter-spacing: 0.1rem;
    }
    & > .name {
        color: var(--cool-color);
    }
}

.selectedEngineers {
    opacity: 0;
    translate: 0 var(--slide-anim-distance);
    transition-property: opacity, translate;

    margin-top: 32px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    column-gap: 32px;
    row-gap: 12px;
    text-align: left;
}

.p {
    margin: 0;
}

.selectedEngineer,
.yourName > .name {
    font-size: 24pt;
    font-weight: bold;
}

footer.footer {
    display: flex;
    gap: 32px;
    margin-top: 64px;
    opacity: 0;
    translate: 0 var(--slide-anim-distance);
    transition-property: opacity, translate;
}

button.submitButton {
    position: relative;
    & > span,
    & > :last-child {
        transition: opacity 0.3s;
    }
    & > span {
        opacity: 1;
    }
    & > :last-child {
        opacity: 0;
    }
    &.isSubmitting {
        & > span {
            opacity: 0;
        }
        & > :last-child {
            opacity: 1;
        }
    }
}

@media screen and (max-width: 700px) {
    .selectedEngineers {
        grid-template-columns: auto;
    }
    .selectedEngineer {
        margin-bottom: 24px;
    }
    footer {
        flex-direction: column;
        gap: 16px;
    }
}
