@import "../vars.css";

p.user-results,
h1.user-results {
    opacity: 0;
    translate: 0 var(--slide-anim-distance);
    transition-property: opacity, translate;
}

h1.user-results {
    font-size: 64pt;
    color: var(--col-good);
    opacity: 0;
    translate: 0 var(--slide-anim-distance);
    transition-property: opacity, translate;
}

.number-result {
    display: flex;
    align-items: baseline;
    justify-content: center;
    translate: 0.5em 0;
}
