@import "../vars.css";

.button-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.nav-button {
    position: relative;
    width: 48px;
    height: 36px;
    font-size: 11pt;
    padding: 0;
}

.nav-button-check-mark {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 22px;
    height: 22px;
    fill: var(--col-good);
    translate: 30% 30%;
    z-index: 100;
    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 80%;
        aspect-ratio: 1;
        background-color: white;
        border-radius: 100%;
        content: " ";
        z-index: -10;
    }
}

.nav-button--done {
    background-color: var(--col-text);
    color: var(--col-bg);
}

.nav-button-outline {
    position: absolute;
    width: 48px;
    height: 36px;
    border: 4px solid var(--cool-color);
    box-sizing: border-box;
    transition-duration: 0.4s;
    transition-property: top, left;
    border-radius: var(--border-radius-input);
}

@media screen and (max-width: 700px) {
    .button-list {
        flex-wrap: nowrap;
    }
}
