.container {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 16px;
}

.input {
    width: 100%;
}

button.clearSearchButton {
    padding: 0;
    position: absolute;
    right: 8px;
    top: 8px;
    bottom: 8px;
    width: 32px;
    background-color: transparent;
    &:hover,
    &:active {
        background-color: transparent;
    }
}
