@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --cool-color: #23c4f4;

    --dark-col-bg: #242424;
    --dark-col-input-bg: #3d3d3d;
    --dark-col-input-bg-hover: var(--cool-color);
    --dark-col-text: #dddddd;

    --light-col-bg: #ffffff;
    --light-col-input-bg: #eeeeee;
    --light-col-input-bg-hover: var(--cool-color);
    --light-col-text: #333333;

    --border-radius-input: 8px;

    --padding-input: 0.6em 1.2em;

    font-family:
        "Be Vietnam Pro", system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    color: inherit;
    border: none;
    border-radius: var(--border-radius-input);
    padding: var(--padding-input);
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--dark-col-input-bg);
    cursor: pointer;
    transition:
        background-color 0.25s,
        color 0.25s;
    &:hover {
        background-color: var(--dark-col-input-bg-hover);
        color: white;
    }
    &:focus,
    &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }
}

label {
    font-size: inherit;
}

input {
    color: inherit;
    font: inherit;
    font-size: inherit;
    border: none;
    border-bottom: 2px solid var(--dark-col-text);
    background-color: transparent;
    outline: none;
    padding: var(--padding-input);
    transition: border-color 0.2s ease;
    box-sizing: border-box;
    &:focus {
        border-color: var(--cool-color);
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    label + input {
        margin-top: 8px;
    }
    button:last-child {
        align-self: flex-end;
        margin-top: 42px;
    }
    input {
        width: 100%;
    }
}

#intro-form {
    width: 400px;
}

header#engineer-select-header {
    width: max-content;
    margin: auto;
    & > p {
        text-align: left;
        margin: 0;
    }
    & > h1 {
        margin-top: 0;
    }
}
ul#engineer-select-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 400px;
    & > li:not(:last-child) {
        margin-bottom: 16px;
    }
    button {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 24px;
        padding: 1em;
        img,
        .img-placeholder {
            width: 3em;
            border-radius: 100px;
            aspect-ratio: 1;
            object-fit: cover;
        }
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color: var(--light-col-text);
        background-color: var(--light-col-bg);
    }
    button {
        background-color: var(--light-col-input-bg);
        &:hover {
            background-color: var(--light-col-input-bg-hover);
        }
    }
    input {
        border-color: var(--light-col-text);
    }
}
