@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./vars.css";

:root {
    font-family:
        "Be Vietnam Pro", system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--col-text);
    background-color: var(--col-bg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    user-select: none;
    &:has(#engineer-select-header) {
        place-items: start;
    }
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    position: relative;
    color: inherit;
    border: none;
    border-radius: var(--border-radius-input);
    padding: var(--padding-input);
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--col-input-bg);
    cursor: pointer;
    transition:
        background-color 0.25s,
        color 0.25s;
    &:disabled {
        opacity: 0.6;
        cursor: unset;
    }
    &:hover:not(:disabled) {
        background-color: var(--col-input-bg-hover);
    }
    &:focus {
        outline: none;
    }
    &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }
}

label {
    font-size: inherit;
}

input {
    color: inherit;
    font: inherit;
    font-size: inherit;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--col-text);
    background-color: transparent;
    outline: none;
    padding: var(--padding-input);
    transition: border-color 0.2s ease;
    box-sizing: border-box;
    &:focus {
        border-color: var(--cool-color);
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    label + input {
        margin-top: 8px;
    }
    button:last-child {
        align-self: flex-end;
        margin-top: 42px;
    }
    input {
        width: 100%;
        &.invalid:not(:focus) {
            border-color: var(--col-error);
        }
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 700px) {
    body {
        overflow-x: hidden;
    }
    h1 {
        font-size: 2.4em;
    }

    button {
        &:hover:not(:disabled) {
            background-color: var(--col-input-bg);
        }
        &:active:not(:disabled) {
            background-color: var(--col-input-bg-hover);
        }
    }
}
