@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --cool-color: #23c4f4;
    --col-error: #bb4444;

    /* change these colors in the prefers-color schemedia wuery */
    --col-bg: #242424;
    --col-dim-bg: #2a2a2a;
    --col-input-bg: #3d3d3d;
    --col-input-bg-hover: var(--cool-color);
    --col-marker: #404040;
    --col-text: #d0d0d0;

    --border-radius-input: 8px;

    --padding-input: 0.6em 1.2em;

    --cubic-bezier-slide-in-out: cubic-bezier(0.5, 0, 0.9, 0.5);

    font-family:
        "Be Vietnam Pro", system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--col-text);
    background-color: var(--col-bg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    user-select: none;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    position: relative;
    color: inherit;
    border: none;
    border-radius: var(--border-radius-input);
    padding: var(--padding-input);
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--col-input-bg);
    cursor: pointer;
    transition:
        background-color 0.25s,
        color 0.25s;
    &:disabled {
        opacity: 0.6;
        cursor: unset;
    }
    &:hover:not(:disabled) {
        background-color: var(--col-input-bg-hover);
    }
    &:focus {
        outline: none;
    }
    &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }
}

label {
    font-size: inherit;
}

input {
    color: inherit;
    font: inherit;
    font-size: inherit;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--col-text);
    background-color: transparent;
    outline: none;
    padding: var(--padding-input);
    transition: border-color 0.2s ease;
    box-sizing: border-box;
    &:focus {
        border-color: var(--cool-color);
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    label + input {
        margin-top: 8px;
    }
    button:last-child {
        align-self: flex-end;
        margin-top: 42px;
    }
    input {
        width: 100%;
        &.invalid:not(:focus) {
            border-color: var(--col-error);
        }
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.invalid-msg {
    color: var(--col-error);
    opacity: 0;
    transition: opacity 0.3s;
    margin: 0;
    &.visible {
        opacity: 1;
    }
}

#intro-form {
    width: 400px;
    translate: 0 0;
    opacity: 1;
    transition-property: translate, opacity;
    transition-timing-function: var(--cubic-bezier-slide-in-out);
    &.transitioning-to-next-page {
        translate: -20% 0;
        opacity: 0;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --col-bg: #ffffff;
        --col-dim-bg: #f4f4f4;
        --col-input-bg: #e0e0e0;
        --col-input-bg-hover: var(--cool-color);
        --col-marker: #d8d8d8;
        --col-text: #505050;
    }
}

@media screen and (max-width: 700px) {
    body {
        overflow-x: hidden;
    }
    h1 {
        font-size: 2.4em;
    }

    #intro-form {
        width: 100%;
    }
}
